button.ant-btn.css-dev-only-do-not-override-1km3mtt.ant-btn-danger {
  background: #cd2323;
  color: white;
  margin-left: 10px;
} 

button.ant-btn.css-dev-only-do-not-override-1km3mtt.ant-btn-primary {
  background: #1677ff;
}